
.top-space {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}

.my-name{
    color: #FEFCFB;
    font-size: 40px;
    text-shadow: 5px 5px 5px #55286F;
    font-family: 'Poppins', sans-serif;
}

.button-style {
    color: #FEFCFB;
	border: 1px solid #FEFCFB;
	border-radius: 20px;
	background: #55286F;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
    cursor: pointer;
    margin-top: 6px;
}

.profile-intro {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;

}

#profile-pic {
    border: 2px solid #FEFCFB;
    width: 165px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #55286F;
}

#intro-box {
    font-family: 'Poppins', sans-serif;
    color: #FEFCFB;
    border: 2px solid #FEFCFB;
    margin-right: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #55286F;
}


/* 
#7B2CBF
#55286F
*/
