
.top-space {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}

.my-name{
    color: #FEFCFB;
    font-size: 40px;
    text-shadow: 5px 5px 5px #55286F;
    font-family: 'Poppins', sans-serif;
}

.button-style {
    color: #FEFCFB;
	border: 1px solid #FEFCFB;
	border-radius: 20px;
	background: #55286F;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
    cursor: pointer;
    margin-top: 6px;
}

.button-style:hover {
    background: #FEFCFB;
    color: #161A1D;
    border: 1px solid #161A1D;
}

/* .profile-intro {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;

} */

/* #profile-pic {
    border: 2px solid #FEFCFB;
    width: 165px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #55286F;
} */

#intro-box {
    font-family: 'Poppins', sans-serif;
    color: #FEFCFB;
    border: 2px solid #FEFCFB;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #55286F;
    padding-left: 20px;
    padding-right: 20px;
}

.my-project-heading {
    color: #FEFCFB;
    font-size: 40px;
    text-shadow: 5px 5px 5px #55286F;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
}

.project-1 {
    border: 2px solid #FEFCFB;
    margin-top: 40px;
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 10px 10px 10px #55286F;
}

.tooltech {
    border: 2px solid #FEFCFB;
    margin-top: 40px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 10px 10px 10px #55286F;
}

.subheading1 {
    font-family: 'Poppins', sans-serif;
    color: #FEFCFB;
    margin-top: 0px;
    margin-bottom: -5px;
}

.subheading2 {
    font-family: 'Poppins', sans-serif;
    color: #FEFCFB;
    margin-top: 0px;
    margin-bottom: 20px;
}

.atlasvec {
    color: #00ED64;
    font-size: 30px;
}

/* 
#7B2CBF
#55286F
*/
